*.egg
*.egg-info
*.pyc
*.sqlite
*$py.class
*~
.coverage
.cache
coverage.xml
build/
dist/
.tox/
nosetests.xml
env*/
tmp/
Data.fs*
*.sublime-project
*.sublime-workspace
.*.sw?
.sw?
.DS_Store
coverage
test
