<html>
  <head>
    <script src="../util/tables.js"></script>
    <script src="../util/xhr.js"></script>
  </head>
  <body>

    <table id="characters">
      <thead>
        <tr>
          <th data-key="name">Name</th>
          <th data-key="accountId">Owner</th>
          <th data-key="exp">Exp</th>
          <th data-key="area">Area</th>
          <th data-key="created">Created</th>
          <th data-key="updated">Updated</th>
        </tr>
      </thead>
      </tbody> 
    </table>

    <script>
      fetch('http://sundred.com:6543/characters')
        .then(response => {
          parseResponse(response).then( characters => {
            fillTableFromHeader(document.querySelector("#characters"), characters);
          })
        })
        .catch(error => {
          window.location = "login_stub.html"
        });
    </script>

  </body>
</html>