<html>
  <head>

  </head>
  <body>

  	<div id="pageContainer"></div>

  	<script type="module">
  		import loginPage from './login_page.js'
  		import accountCharacterPage from './account_characters_page.js'
      import charactersMapPage from './characters_map_page.js'

  		window.addEventListener('load', event => {
        
  			window.addEventListener('triggerPage', event => {
  				charactersMapPage.render(document.querySelector('#pageContainer'))
  			})
        
  			loginPage.render(document.querySelector('#pageContainer'))
  		});
  	</script>

  </body>
</html>