<html>
  <head>
    <script type="module" src="../utils/tables.js"></script>
    <script type="module" src="../utils/templates.js"></script>

    <script type="module" src="account_table.js"></script>
    <script type="module" src="character_table.js"></script>
    <script type="module" src="login_form.js"></script>

		<script type="module" src="login_page.js"></script>    
		<script type="module" src="account_characters_page.js"></script>    

  </head>
  <body>

  	<div id="pageContainer"></div>

  	<script type="module">
  		import loginPage from './login_page.js'
  		import accountCharacterPage from './account_characters_page.js'

  		window.addEventListener('load', event => {
        
  			window.addEventListener('triggerPage', event => {
  				accountCharacterPage.render(document.querySelector('#pageContainer'))
  			})
        
  			loginPage.render(document.querySelector('#pageContainer'))
  		});
  	</script>

  </body>
</html>