<html>
  <head>
    <script src="../utils/xhr.js"></script>
  </head>
  <body>

    <form id="login">
      <label for="user">Username</label> 
      <input type="text" name="user"></input>
      <label for="pw">Password</label>
      <input type="password" name="pw"></input>
      <input type="submit"></input>
    </form>

    <script>
      logout();

      window.addEventListener('load', () => {
        let form = document.querySelector('#login');
        

        form.addEventListener('submit', event => {
          event.preventDefault();
          let formData = new FormData(event.srcElement);
          fetch('http://sundred.com:6543/login', {
            method: 'POST',
            body: formData
          })
          .then(response => {
            parseResponse(response).then( account => {
              sessionStorage.setItem('account', JSON.stringify(account));
              window.location = 'account_characters_stub.html'
            })
          })
          .catch(error => {
            
          })
        })
      });

      function logout() {
        let account = sessionStorage.getItem('account');
        fetch('http://sundred.com:6543/logout')
        .then(response => {
          console.log(`logged out of ${account.id}`);
          sessionStorage.removeItem('account')
        })
        .catch(response => {})
      }
    </script>

  </body>
</html>