<html>
  <head>
    <script type="module" src="../utils/tables.js"></script>
    <script type="module" src="../utils/templates.js"></script>

    <script type="module" src="account_table.js"></script>
    <script type="module" src="character_table.js"></script>
    <script type="module" src="login_form.js"></script>

  </head>
  <body>

    <select id="pageOptions">
      <option value="">Pick a page</option>
      <option value="templateTester">Template Tester</option>
    </select>

    <div id="pageContainer"> </div>

    <script type="module">
      import Templates from '../utils/templates.js';
      import characterTable from './character_table.js';
      import accountTable from './account_table.js';
      import loginForm from './login_form.js';
      import { Dataset } from '../utils/datasets.js';

      sessionStorage.clear();

      const accountFixture = {"username": "Tweek", "password": "dragon4ever", "cdkey": "efgh5678", "role": 3, "approved": 1, "banned": 0, "created": "23/11/2017","updated": "29/11/2017"};      

      const characterFixture = [{"id":1,"accountId":"Tweek","name":"Siobhan Faulkner","exp":10000,"area":"Hlammach Docks","created":"23/11/2017","updated":"29/11/2017"},{"id":2,"accountId":"Aez","name":"Alrunden Peralt","exp":12000,"area":"Dreyen Inn","created":"26/6/2017","updated":"29/11/2017"},{"id":3,"accountId":null,"name":"Arthen Relindar","exp":20000,"area":"Relindar Green","created":null,"updated":null},{"id":4,"accountId":"XxDrizzitxX","name":"Ji'Lin Thri'quen","exp":1050,"area":"Dreyen Inn","created":"29/11/2017","updated":"29/11/2017"}];

      let templatePageMarkup = 
      `<div id="templateChoiceContainer"></div>`;

      let templateChoiceMarkup = 
        `<select id="templateOptions">
          <option value="">Pick a template</option>
          <option value="loginForm">Login Form</option>
          <option value="accountTable">Account Table</option>
          <option value="characterTable">Character Table</option>
        </select>

        <div id="contentContainer"></div>`;

      let pageOptions = document.querySelector('#pageOptions');

      let templateChoiceListener = new Templates.Listener(
        'select',
        'change',
        function (event) {
          switch (event.target.value) {
          case 'loginForm':
          // try to use a spread operator for the template conversion
            let testLoginForm = new Templates.Content( 
              loginForm.dataset,
              loginForm.markup,
              loginForm.renderData,
              [new Templates.Listener(
                'form',
                'submit',
                function (event) {
                  event.preventDefault();
                    let formData = new FormData(event.srcElement);
                    for (let input of formData.entries()) {
                      console.log(`${input[0]}: ${input[1]}`)
                    }
                  },
                )],
              document.querySelector('#contentContainer'));
            testLoginForm.renderContent();
            break;
          case 'accountTable':
            let testAccountTable = new Templates.Content( 
              new Dataset(
                'account',
                function () {
                  return Promise.resolve(accountFixture);
                }),
              accountTable.markup,
              accountTable.renderData,
              accountTable.listeners,
              document.querySelector('#contentContainer'));
            testAccountTable.renderContent();
            break;
          case 'characterTable':
            let testCharacterTable = new Templates.Content( 
              new Dataset(
                'accountCharacters',
                function () {
                  return Promise.resolve(characterFixture);
                }),
              characterTable.markup,
              characterTable.renderData,
              characterTable.listeners,
              document.querySelector('#contentContainer'));
            testCharacterTable.renderContent();
            break;
          }
        });

      let templateChoiceTemplate = new Templates.Template(
        null,
        templateChoiceMarkup,
        function () { return Promise.resolve()},
        [templateChoiceListener]
        );

      let templatePageMap = {
        'templateChoiceContainer': templateChoiceTemplate
      };

      let templateChoicePage = new Templates.Page(
        'template_test',
        templatePageMarkup,
        templatePageMap,
        document.querySelector('#pageContainer')
        );

      pageOptions.addEventListener('change', event => {
        event.preventDefault();
        switch (event.target.value) {
          case 'templateTester':
            templateChoicePage.render();
            break;
        }
      });


    </script>

  </body>
</html>