<form method="post" action="/login">
	User:
  <input type="text" name="user" value="editor">
  <br>
  Password:
  <input type="password" name="pw" value="editor">
  <br><br>
  <input type="submit" value="Submit">
</form> 
